body {
  padding-bottom: 20px;
  /* background-color: green; */
  color: aliceblue;
}

.navbar {
  margin-bottom: 20px;
}

.btn {
  background-color: green;
}

footer {
  background-color: rgb(15, 15, 15);
}

.section4 {
  background-color: green;
  color: azure;
}

